// Layout
.section {
 // padding: 1rem;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 60px 0;
  border-bottom: 1.5px solid $c-accent;

  &--header {
    padding-top: 116px;
  }
}

.content {
  display: flex;
  align-items: flex-start;

  &__left {
    flex-basis: 50%;
  }

  &__right {
    flex-basis: 50%;

    > * {
      letter-spacing: 0;
      line-height: 24px;
    }

    > * + *  {
      margin-top: 1.6rem;
    }
  }
}

// Specific Layout Styles



.logo {
  display: flex;
  align-items: center;

  > h1 {
    margin-left: 0.5rem;
  }
}
