$c-brand-primary: #073575;
$c-brand-secondary: #f1f3f7;
$c-accent: #e4e8f0;


// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Cousine');
@import 'box-sizing';
@import 'resets'; // For reseting troublesome defaults and setting some base styles
@import 'layout'; // Basic layout styles
@import 'components/list'; // Styles for lists
@import 'components/components'; // Styles for lists
