$c-brand-primary: #073575;
$c-brand-secondary: #f1f3f7;
$c-accent: #e4e8f0;


// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Cousine');
@import 'box-sizing';
@import 'resets'; // For reseting troublesome defaults and setting some base styles
@import 'layout'; // Basic layout styles
@import 'components/list'; // Styles for lists
@import 'components/components'; // Styles for small lil thangs

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $c-brand-primary;
}


@media (max-width: 1000px) {
  .wrapper {
    padding: 60px;
  }
}


@media (max-width: 650px) {

  .wrapper { // resets large margins
    padding: 1rem;
  }

  .logo {
    width: 100%;
    padding-bottom: 32px;
  }

  .section-title {
    margin-bottom: 2rem;
  }

  .content {
    flex-direction: column;

    > * {
      flex-basis: initial;
    }

    > * + * {
      margin-top: 1rem;
    }
  }
}
