$c-brand-primary: #083575;
$c-brand-secondary: #f1f3f7;
$c-accent: #e4e8f0;


// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Cousine');
@import 'box-sizing';

// Resets
* {
  font-family: 'Cousine', monospace;
  font-size: 14px;
  font-weight: normal;
}

body {
  background: $c-brand-secondary;
  color: $c-brand-primary;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 1rem;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
}


// Layout
.section {
  padding: 5rem;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  border-bottom: 1px solid $c-accent;
}

.content {
  display: flex;
  align-items: flex-start;

  &__left {
    flex-basis: 45%;
  }

  &__right {
    flex-basis: 55%;

    > * {
      letter-spacing: 0;
      line-height: 24px;
    }
  }
}

.logo {
  display: flex;
  align-items: center;

  > h1 {
    margin-left: 0.5rem;
  }
}
